.paginationContainer {
  position: absolute;
  bottom: 0;
  left: 200px;
  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
    .paginationItem {
      border: 1px solid #eee;
      border-radius: 9px;
      padding: 10px;
      background: #fff;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
      .disabled {
        opacity: 0.5;
      }
    }
    .pageItem {
      margin: 0 3px;
      .active {
        border: 1px solid #ff6000;
        scroll-behavior: auto;
      }
    }
  }
}
