.buttonContainer {
  width: 100%;
  min-width: 120px;
  padding: 14px 20px;
  background-color: #ffffff;
  color: #b0b0b0;
  border: 1px solid #b0b0b0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  position: relative;
  cursor: pointer;
}
