.productListContainer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  @media screen and (max-width: 996px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
