.productCard {
  margin-bottom: 70px;
  width: 255px;
  position: relative;
  &:hover {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    .imageContainer {
      border: none;
      overflow: hidden;
    }

    .productInfo {
      display: none;
    }

    .productCartButton {
      display: block;
      span {
        font-size: 16px;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 10px 50px;
        width: 235px;
        display: block;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
        left: 10px;
        user-select: none;
      }
      .addCart {
        background-color: #feeee2;
        color: #ff6000;
        cursor: pointer;
      }
      .inCart {
        background-color: #f1f1f1;
        color: #b0b0b0;
        padding: 12px 13px;
        cursor: default;
      }
    }
  }
  .productCartButton {
    display: none;
  }

  .imageContainer {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 225px;
      height: 332px;
      object-fit: contain;
    }
  }
  .productHeader {
    font-size: 16px;
    display: inline-block;
    font-weight: 400;
    line-height: 18px;
    color: #484848;
    margin: 10px 5px;
  }
  .productInfo {
    margin-top: 20px;

    .productBrand {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 10px;
        display: block;
      }
      strong {
        font-weight: 700;
      }
    }
    .productPrice {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 10px;
        display: block;
      }
      :nth-child(1) {
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        color: #000;
      }
      .discountRate {
        display: flex;
        align-items: center;
        span {
          display: block;
        }
        :nth-child(1) {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: #9b9b9b;
          text-decoration: line-through;
          margin-right: 5px;
        }
        :nth-child(2) {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: #f90000;
        }
      }
    }
  }
}
