.sortingContainer {
  margin-bottom: 20px;
  .sortingDropdown {
    background-color: #ffffff;
    color: #b0b0b0;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    border: none;
  }
}
