.headerContainer {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  .logoWrapper {
    width: 211px;
    height: 35px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      cursor: pointer;
    }
  }
  .basketContainer {
    position: relative;

    .cart {
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -53px;
      right: 240px;
      display: none;
      z-index: 500;
    }

    &:hover {
      .cart {
        display: block;
      }
    }
  }
}
