.subHeaderContainer {
  padding: 10px 40px 25px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .subHeader {
    display: flex;
    flex-direction: column;
  }

  .pageTitle {
    color: #484848;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 10px;
  }

    .searchTextContainer {
      height: 20px;
    }

    .searchText {
      color: black;
    }
}
